.search-box {
    width: 50vh;
    height: 50vh;
    background-color: #aaefdf;
    border-radius: 15px;
    margin-left: 15%;
    font-family: "Hind Guntur", sans-serif;
}

.search-box-selects {
    padding: 1rem 1.75rem;
}

.service-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.service-box {
    width: 50%;
    height: 120px;
    background-color: white;
}

.service-box:hover{
    background-color: cadetblue;
    opacity: 0.75;
}

.find-button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

p {
    margin: 0.25rem 0;
}

.cultural {
    background-image: url("../../assets/community.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.professional {
    background-image: url("../../assets/video-chat.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.worship {
    background-image: url("../../assets/church.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.temples {
    background-image: url("../../assets/taj-mahal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.markets {
    background-image: url("../../assets/shopping-basket.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.doctors {
    background-image: url("../../assets/doctor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lawyers {
    background-image: url("../../assets/conference.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.accountants {
    background-image: url("../../assets/piggy-bank.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.x-button {
    float: right;
    height: 120px;
    width: 0;
    transform: translateX(5px);
}

.input-box {
    width: 100%;
    height: 2.5rem;
    font-family: "Hind-Guntur", sans-serif;
    font-size: larger
}

.search-button {
    background-color: #63c132;
    padding: 0.5rem 2.5rem 0 2.5rem;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: "Hind Guntur", sans-serif;
    font-size: large;
}

.service-selected {
    box-shadow: inset 0 0 10px #000000;
}
