.navbar {
    height: 80px;
    width: 100%;
    background-color: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: 'Lato', sans-serif;
}

.links {
    display: flex;
}

.link {
    padding: 1rem;
    font-weight: lighter;
    font-size: 1.5rem;  
}

.help-link {
    padding-right: 6rem;
}

.title {
    padding: 1.5rem 1.5rem 1.5rem 6rem;
    font-size: 1.75rem;
    font-weight: lighter;
}