.navbar {
    height: 80px;
    width: 100%;
    background-color: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed
}

.links {
    display: flex;
}

.link {
    padding: 1rem;
}