.example-enter {
    height: 0px;
}

.example-enter.example-enter-active {
    height: 12rem;
    -webkit-transition: height 0.4s ease;
}

.example-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height 0.4s ease;
}

.top-bar-map {
    width: 100%;
    height: 8rem;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.top-bar-location {
    width: 33%;
}

.top-bar-service {
    width: 33%;
}

.top-bar-language {
    width: 33%;
}
