.background-container {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}
.bottom {
    display: flex;
    background-color: #cffcff;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bottom p {
    font-size: 5rem;
}
